*{
    box-sizing: border-box;
}
body, html{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1290px;
    margin: auto;
    position: relative;
    min-width: 960px;
}
/*
____________________
header
___________________
*/
.top-bar{
    background-color: #f2f2f2;
}
.bar{
    display: flex;
    flex-flow: row wrap;
}
.bar-left-side, .bar-right-side{
    width: 50%;

}
.bar-left-side{
    font-size: 11px; /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 18px; /* Approximation due to font substitution */
    min-height: 38px;
}
.bar-left-side p{
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
    color: #393939;
    font-size: 11px; /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 18px; /* Approximation due to font substitution */
    
}
.bar-left-side i{
    padding-right:10px;
}
.bar-right-side{
    min-height: 38px;
}
.bar-right-side a{
    font-family: 'Lato', sans-serif;
    color:  #393939;
    font-size: 11px; /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 18px; /* Approximation due to font substitution */
    
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
   
   
}
.bar-right-side li{
    display: inline-block;
}
.bar-right-side li+li{
    border-left: 1px solid #525252;
}
.bar-right-side nav{
    text-align: right;
    margin-right: -20px;
   
}
/* 
--------------
main menu
--------------
*/
.main-menu{
    height: 127px;
}
.bottom{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.menu, .logo, .bottom-right-side{
    width: 33.33333%;
    height: 127px;
    
}
.menu{
    padding-top: 46px;
}
.menu li{
    display: inline-block;
    margin-left: 0;
    margin-right: 20px;
   
    
}
.menu ul{
    text-align: left;
    margin-left:-40px;
}
.menu a{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    list-style: none;
   text-decoration: none;
    color: #000000;
}
.logo{
    text-align: center;
    padding-top: 32px;
}
.bottom-right-side{
    text-align: right;
    padding-top: 43px;
}
.bottom-right-side div{
  
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #d9bf8f;
    background-color: rgba(224, 224, 224, 0);
    width: 34px;
    height: 34px;
    display: inline-block;
    text-align: center;
    margin-left: 13px;
}
.bottom-right-side div i{
    color:#d9bf8f;
    padding-top: 6px;
}
.bottom-right-side select{
    height: 35px;
    width: 91px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    display: inline-block;
    margin-left: 52px;
}
/*
------------------------
sale
------------------------
*/
.sale{
    background-image: url(../img/Sale.png);
    height: 692px;
    background-size: cover;
}
.main{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    height: 692px;
    margin-bottom: 100px;
    margin-top: 20px;
}
.triangle{
    width: 0;
	height: 0;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-top: 60px solid #ffffff;
}
.content{
    width: 277px;
    height: 277px;
    border: 2px solid #ffffff;
    padding: 0;
    margin:0;
    position: relative;
    text-align: center;
    
}
.content p{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin: 0;
}  
.white-font{
    font-size: 19.44px;
    color: #ffffff;
    margin-top: 37px;
    position: absolute;
    
}
.season{
    position: absolute;
    left: 76px;
    top: 37px;
}
.big-sale{
    font-size: 58px;
    font-weight: bold;
    position: absolute;
    top: 89px;
    left: 70px;
    
}
.up{
    top: 166px;
    left: 109px;
}
.fifty{
    font-size: 31.36px;
    bottom: 42px;
    left: 76px;
    position: absolute;
   
}
.inside-border{
    border: 1px solid #ffffff;
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
}
.content div{
    position: absolute;
}
.left-min-strip{
    width: 33px;
    height: 1px;
    background-color: #ffffff;
    left: 63px;
    bottom: 100px;
}
.right-min-strip{
    width: 33px;
    height: 1px;
    background-color: #ffffff;
    right: 63px;
    bottom: 100px;
}
.left-big-strip{
    width: 60px;
    height: 1px;
    background-color: #ffffff;
    left: 35px;
    bottom: 92px;
    
}
.right-big-strip{
    width: 60px;
    height: 1px;
    background-color: #ffffff;
    right: 35px;
    bottom: 92px;
        
}
/*
--------------------
shop now
--------------------
*/
.shop-button{
    background: #f09d66;
    height: 53px;
    width: 189px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding-top: 12px;
    
    
    
}
.shop-button a{
    text-decoration: none;
    color: #ffffff;
}
.square{
    padding-bottom: 30px;
}
.square div{
    width: 18px;
    height: 19px;
    background: #d6d6d6;
    display: inline-block;
    transform: rotate(45deg);
    margin-right: 15px;
}  
div .black{
    background: #000000;
}
/*
--------------------------
sup
--------------------------
*/
.sup-flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}
.sup a{
    text-decoration: none;
}
.sup-flex-container p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #ffffff;
    
}
.left-sup-main, .center-sup-main, .right-sup-main{
   
    vertical-align:baseline;
}
.left-sup-main .icon, .center-sup-main .icon, .right-sup-main .icon{
    float: left;
    font-size: 38px;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px;
}
.left-sup-main div i, .center-sup-main div i, .right-sup-main div i{
    margin-top: 5px;
}
.left-sup-main h2, .center-sup-main h2, .right-sup-main h2{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    padding: 0;
    margin: 0;
}
.left-sup-main div, .center-sup-main div, .right-sup-main div{
    display: inline-block;
}
.left-sup-main .text-sup, .center-sup-main .text-sup, .right-sup-main .text-sup{
    padding-top: 15px;
}
.left-sup, .right-sup{
    
    height: 100px;
    background: #d9bf8f;
    flex:1;
    position: relative;
    
}

.left-sup i, .right-sup i, .center-sup i{
    font-size: 48px;
    color: #ffffff;
}
.left-sup-triangle{
   width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 34px solid #d9bf8f;
	border-bottom: 50px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 150;
    
    
}
.right-sup-triangle{
   width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 34px solid #d9bf8f;
	border-bottom: 50px solid transparent;
    position: absolute;
    z-index: 150;
    left: 0;
    top: 0;
}
.center-sup{
    flex:1;
    height: 100px;
    position: relative;
}
.center-sup-main{
    background: #000000;
    height: 100px;
    width: 448px;
    position: relative;
    
}
.space, .space1{
    height: 100px;
    width: 34px;
    display: inline-block;
    background: #ffffff;
    position: absolute;
}

.center-sup-left-triangle{
    width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 34px solid #ffffff;
	border-bottom: 50px solid transparent;
    position: absolute;
    z-index: 20;
}
.space{
    top: 0;
    left: -34px;
    z-index: 100;
}
.space1{
    right: -34px;
    top:0;
    z-index: 10;
}
.center-sup-right-triangle{
    width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 34px solid #ffffff;
	border-bottom: 50px solid transparent;
    position: absolute;
     right: 0;
    top: 0;
}
/*
----------------------------------
dash
----------------------------------
*/
.dash{
    margin-top: 50px;
    margin-bottom: 50px;
}
.dash-parent{
    position: relative;
    margin-bottom: 100px;
    margin-top: 100px;
}
.block-dash{
    height: 1px;
    width: 1290px;
    background-color: #eaeaea;
}
.block-text p{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 29.58px;
    display: inline-block;
    margin-left: 85px;
    margin-right: 85px;
}
.block-text .square div{
    background-color: #d9bf8f;
    
}
.block-text .square{
    display: inline-block;
}
.block-text{
    width: 500px;
    position: absolute;
    top: -48px;
    left: 395px;
    background: #ffffff;
    z-index: 20;
    text-align: center;
    
}
/*
--------------------------------
handpicked
________________________________
*/
.handpicked{
    height: 820px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.img-handpicked{
    display: flex;
    flex-flow: column wrap;
    height: 820px;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 100px;
    margin-top: 100px;
}
.img-handpicked div{
    position: relative;
}
.img-handpicked div div{
    position: absolute;
}
.frame{
    border: 3px solid #ffffff;
    border-radius: 3px;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
}
.mask{
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: #000000;
    opacity: 0.3;
    display: none;
}
.horizont-strip{
    background: #d9bf8f;
    height: 1px;
    width: 61px;
    top:50%;
    left: 170px;
    display: none;
}
.vertical-strip{
    background: #d9bf8f;
    height: 1px;
    width: 61px;
    transform: rotate(90deg);
    right: 170px;
    top: 201px;
    display: none;
}
.img-handpicked div .shop-button{
    height: 42px;
    width: 109px;
    font-size: 14.49px;
    left: 140px;
    bottom: 66px;
    z-index: 15;
    display: none;
}
.img-handpicked div:hover .mask, .img-handpicked div:hover .horizont-strip, .img-handpicked div:hover .vertical-strip, .img-handpicked div:hover .button-handpicked{
    display: block;
}
.img-handpicked div:hover .frame{
    display: none;
}
.big-img .horizont-strip{
    
    
}
.big-img .vertical-strip{
   
    right: 228px;
    top: 410px;
}
.block-text .summer{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 29.58px;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}
/*
_________________________________
summercollection
________________________________
*/
.collection{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 747px;
    border: 1px solid #eaeaea;
    align-content:space-around;
    margin-bottom: 100px;
    margin-top: 100px;
}
.trapezoid {
    
    border-bottom: 44px solid #000000;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	height: 0;
	width: 198px;
    position: absolute;
    z-index: 100;
    bottom: 4px;
    left: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14.01px;
    color: #ffffff;
    text-align: center;
    
}
.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8{
    position: relative;
}
.trapezoid p{
    margin-bottom: -6px;
}
.img1 .trapezoid, .img5 .trapezoid{
    border-bottom: 44px solid #f0975c;
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #feab12;
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 22.62px;
    color: #ffffff;
    padding-left: 13px;
    padding-top: 16px;
}
.circle sup{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 11px;
}
/*
_________________________
brands
_________________________
*/
.brands{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 100px;
    
}
/*
_______________________________
designers
______________________________
*/
.designers{
    background: #d9bf8f;
    
}
.designers-flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    position: relative;
    
}
.girl, .boy{
    width: 50%;
    text-align: right;
}
.girl p, .boy p{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 100;
    font-size: 18.1px;
    color: #ffffff;
    line-height: 30.23px;
}
.girl{
    padding-right: 100px;
    text-align: left;
    text-indent: 20%;
    direction: rtl;
}
.boy{
   padding-left: 100px;
}
.girl img+p{
    margin-top: 110px;
}
.boy img+p{
    text-indent: 20%;
    margin-top: 110px;
}
.girl h2, .boy h2{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 29.95px;
    margin-bottom: 14px;
    margin-top: 34px;
}
.girl h2+p, .boy h2+p{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #7f7e7e;
}
.girl img{
    float: left;
}
.boy img{
    float: right;
}
.designers-flex-container .triangle{
    position: absolute;
    top: 0;
    left: 400px;
    width: 0;
	height: 0;
	border-left: 186px solid transparent;
	border-right: 186px solid transparent;
	border-top: 30px solid #ffffff;
}
/*
____________________________________
footer
___________________________________
*/
footer{
    background: #141414;
}
.shops, .information, .castomer-service{
    flex: 1;
}
.stay-connected{
    flex: 2;
}
.footer-flex-container ul{
    padding: 0;
}
.footer-flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-top: 50px;
}
.footer-flex-container h2{
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
}
.footer-flex-container li{
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
}
.footer-flex-container a{
    text-decoration:none;
    color: #5a5a5a;
}
.cards{
    flex: 0 100%;
    vertical-align: baseline;
}
form{
    border: 1px solid #5a5a5a;
    width: 362px;
    height: 42px;
    position: relative;
}
.email {
    color: #5a5a5a;
    vertical-align: middle;
    background: #141414;
    font-size: 12px;
    border: none;
    padding-top: 13px;
    padding-left: 28px;
}
form .button{
    width: 101px;
    height: 33px;
    color: #ffffff;
    background: #5a5a5a;
    border: none;
    font-size: 12px;
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 4px;
}
.footer-dash{
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
}
.footer-dash, .block-dash{
    background: #5a5a5a;
}
.footer-dash .triangle{
    position: absolute;
    top: 0;
    left: 656px;
    width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 10px solid #5a5a5a;
}
.copyright{
    font-size: 11px;
    color: #5a5a5a;
    flex: 0 22%;
    line-height: 18px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
}
.footer-social div{
  
    border-radius: 50%;
    background-color: #ffffff;
    width: 51px;
    height: 51px;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    line-height: 30.01px;
    margin-right: 15px;
    
}
.footer-social i{
    color: #141414;
    padding-top: 14px; 
}
.footer-social{
    margin-bottom: 37px;
}
.stay-connected h2{
    margin-bottom: 50px;
}
.cards div{
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 50px;
    
}
.stay-connected span{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}
.visa img{
    padding-bottom: 3px;
}
.button-up{
    height: 40px;
    width: 40px;
    background: #000000;
    border-radius: 5px;
    position: absolute;
    color: #ffffff;
    text-align: center;
    bottom: 120px;
    right: 0;
}
.button-up i{
    padding-top: 10px;
}
.bottom-line{
    height: 42px;
    background: #000000;
        
}
